* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #005772;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar-brand img {
    width: 85px;
}

.insti-logo {
    display: flex;
}

.insti-logo img {
    width: 70px;
    height: 70px;
}

.insti-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rasa', serif;
    font-weight: 100;
    font-size: 18px;
    color: white;
}

@media screen and (max-width: 375px) {
    .insti-logo {
        display: none;
    }
}